{% load static %}

<div class="comment__header">
  <div class="comment__header--title">
    <img src="{% static 'logo/point.png' %}" class="point" />
    상품후기({{ product.comments.count }}개)
    <!-- 회원만 댓글달 수 있는 창이 보입니다. -->
  </div>
</div>
<div class="comment__main">
  {% if request.user.is_authenticated %}
  <div class="comment__mycomment">
    <button type="button" class="btn btn-info btn-sm comment_write" data-url="{% url 'product_comment_create' product.slug %}">댓글 작성하기</button>
  </div>
  {% endif %}
</div>

<!-- 댓글 리스트 -->
<div class="comment__comments">
  {% for comment in product.comments.all %}
  <div class="comments">
    <div class="comments__content">
      {% if comment.author.profile %}
      <img class="comments__profile" src="{{comment.author.profile.url}}" />
      {% else %}
      <img class="comments__profile" src="/static/logo/default_profile.png" />
      {% endif %}
      <div class="comments__commentBox">
        <span class="comments__user"> {{ comment.author.nickname }} </span>
        <button type="button" class="btn-like-comment" data-url="{{ comment.get_api_like_url }}"
          data-like="{{comment.like.count}}">
          <img src="{% static 'logo/thumb_up_alt-24px.png' %}" />
          <span class="like-comment-count"> {{comment.like.count}} </span>
        </button>
        <span class="comments__comment">{{ comment.content }}</span>
      </div>
      <div>
        <span>별점 : {{comment.stars}}</span>
      </div>
    </div>
    {% if comment.img %}
    <img src="{{ comment.img.url }}" alt="comment IMG" class="comments__img" enlarge="f" />
    {% endif %}

    <form method="POST" class="comment__editForm">
      {% csrf_token %}
      <!-- 로그인 유저 중 내가 쓴 댓글만 수정 삭제 보이게 설정-->
      {% if user.is_authenticated %} {% if user == comment.author %}
      <input type="button" class="btn btn-info btn-sm comment_delete" value="삭제" data-url ="{% url 'product_comment_delete' product.slug comment.id %}">
      <input type="button" class="btn btn-info btn-sm comment_update" data-url ="{% url 'product_comment_update' product.slug comment.id %}" value='수정'>
      {% endif %} {% endif %}
    </form>
  </div>
  {% endfor %}

  <div class="comments__showMore">더보기</div>
  <div class="image-layer"></div>
</div>


<script src="{% static 'js/comment-edit.js' %}"></script>
<script src="{% static 'js/comment-more.js' %}"></script>
<script src="{% static 'js/comment-image.js' %}"></script>
<script src="{% static 'js/like-comment-toggle.js' %}"></script>