<!-- 달린 댓글들만 있는 html -->
{% load static %}


{% for comment in product.comments.all %}
<div class="comments__comment">
  <div class="comments__comment--content">
    <!-- comment__propfile에 프사가 들어갈거에요 -->
    {% if user.profile %}
    <img class="comment__profile" src="{{user.profile.url}}" />
    {% else %}
    <img class="comment__profile" src="{% static 'logo/person-24px.png' %}" />
    {% endif %}
    <div class="comment__comment-box">

      <span class="comment__user">
        {{ comment.author.nickname }}
        <button>
          <img src="{% static 'logo/thumb_up_alt-24px.png' %}" />
        </button>
      </span>
      <span class="comment__comment">{{ comment.content }}</span>
    </div>
    <div>
      <span>별점 : {{comment.stars}}</span>
    </div>
    

  </div>
  {% if comment.img %}
  <img src="{{ comment.img.url }}" alt="comment IMG" />
  {% endif %}
  <div class="fake-image" enlarge="f"></div>

<!-- 로그인 유저 중 내가 쓴 댓글만 수정 삭제 보이게 설정-->
  {% if user.is_authenticated %}
      {% if user == comment.author %}
      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <button onclick="location.href='{% url 'comment_update' comment.id %}'" type="submit">수정</button>
        <button onclick="location.href='{% url 'comment_delete' comment.id %}'" type="submit">삭제</button>
      </form>
      {% endif %}
  {% endif %}
</div>
{% endfor %}
<div class="comment__main__show-more">더보기</div>
<div class="image-layer"></div>