{% load static %}

<!-- 댓글 최상위 박스 -->
<div class="detail__comment">
  <div class="comment__header">
    <span class="comment__header--title">
      <img src="{% static 'logo/point.png' %}" class="point" />
      상품후기
    </span>
    <span>{{product.comments.count }}개의 댓글이 있습니다.</span>
  </div>
  <div class="comment__main">
    <!-- 회원만 댓글달 수 있는 창이 보입니다. -->
    {% if request.user.is_authenticated %}
    <div class="comment__main__mycomment">
      <form action="{% url 'comment_create' product.slug %}" method="POST">
        {% csrf_token %} {{ comment_form }}
        <input autocomplete="off" type="text" name="content" placeholder="댓글 작성" maxlength="100" oninput="commentAlert(this);" />
        <button type="submit" class="commentButtonJs">write</button>
      </form>
    </div>
    <!-- 달린 댓글들 표시 -->
    <div class="comment__main__comments">
      {% endif %} {% for comment in product.comments.all %}
      <div class="comments__comment">
        <div class="comments__comment--content">
          <!-- comment__propfile에 프사가 들어갈거에요 -->
          <div class="comment__profile"></div>
          <div class="comment__comment-box">
            <span class="comment__user">
              {{ comment.author.nickname }}
              <button>
                <img src="{% static 'logo/thumb_up_alt-24px.png' %}" />
              </button>
            </span>
            <span class="comment__comment">{{ comment.content }}</span>
          </div>
        </div>
        {% if comment.img %}
        <img src="{{ comment.img.url }}" alt="comment IMG" />
        {% endif %}
        <div class="fake-image"></div>
      </div>

      <!-- 대댓글 (우선 잠깐 막아놓겠습니다.) -->
      <!-- <div style="border: 1px solid black; margin-left: 40px;">
        <form action = "" method="POST">
          {% csrf_token %}
          
          <input type="text" name="content" placeholder="대댓글 작성"/>
          <input type="submit" value="write"/>
        </form>
        <hr>
        <hr>
        {% for reply in comment.replies.all %}
          <li>댓글 내용 : {{ reply.content}}</li>
          <li>생성 날짜 : {{ reply.created_at}}</li>
          <hr>
        {% endfor %}
      </div> -->

      {% endfor %}
    </div>
    <div class="comment__main__show-more">더보기</div>
  </div>
</div>
