{% load static %}

<header id="header">
  <!-- logo -->
  <div class="header__logoBox">
    <img src="{% static 'logo/logo-02.jpg' %}" class="header__logo" , onclick="location.href='/index'" />
  </div>
  <!-- 상단 메뉴 -->
  <ul class="header__menuBox">
    <li class="header__menu"><a href="{% url 'mymap' %}">내편찾기</a></li>
    <li class="header__menu"><a href="#">할인행사</a></li>
    <li class="header__menu"><a href="{% url 'post_list' %}">커뮤니티</a></li>
    <li class="header__menu"><a href="#">Brand Story</a></li>
  </ul>
  <!-- 로그인 로그아웃 -->
  <nav class="header__auth">
    <!-- 유저가 로그인 중이면 -->
    {% if user.is_authenticated %}
    <a href="{% url 'user_logout' %}" class="user-logout">Logout</a>
    <a href="{% url 'user_profile' %}" class="user-profile">내정보</a>

    {% else %}
    <button data-toggle="modal" data-target="#modal-login" id="base__login-btn" class="header__authBtn">
      <img src="{% static 'logo/person-24px.png' %}" />
      <span>Log in</span>
    </button>
    <button data-toggle="modal" data-target="#modal-signup" class="header__authBtn">
      <img src="{% static 'logo/person-24px.png' %}" />
      <span>Sign up</span>
    </button>
    {% endif %}
  </nav>
</header>
