{% load static %}
<div class="naeggu">
  <div class="naeggu__container">
    <div class="naeggu__header">내 꺼
      <i class="fas fa-heart"></i>
    </div>
    <!-- 내꺼 목록 슬라이더 -->
    <div class="naeggu__slider">
      <!-- 내꺼 목록 -->
      {% for user_like in user.product_likes.all %}
        <div class="naeggu__list">
          <a href="{{user_like.get_absolute_url }}">
            <img class="naeggu__listImg" src="{{ user_like.img.url }}"alt="" />
          </a>
        </div>
      {% endfor %}
    </div>
    <!-- 슬라이더 버튼 - 이미지 소스 수정 필요 -->
    <div class="naeggu__slider__btn">
      <i class="fas fa-chevron-left naeggu__slider__prev"></i>
      <span class="naeggu__slider__count">1 / {{user.product_likes.all|length}}</span>
      <i class="fas fa-chevron-right naeggu__slider__next"></i>
      <!-- <span class="naeggu__slider__prev">prev</span>
      <span class="naeggu__slider__next">next</span> -->
    </div>
  </div>
</div>