{% extends 'base.html' %} 

{% load static %}

<!-- detail.html에서만 쓰이는 css -->
{% block style %} 
  <link rel="stylesheet" href="{% static 'css/include/category.css' %}" />
  <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index/index-slider.css' %}" />
{% endblock %}

{% block title %}상세페이지{% endblock %}

{% block category %}
  {% include 'myside/_category.html' %}
{% endblock %}

{% block detail %}
  <!-- 메인 컨텐츠 박스 -->
  <main class="detail">
    <!-- 상품 정보에 대한 박스 -->
    <div class="detailBox">
      <!-- 박스의 왼쪽 부분 -->
      <div class="detail__leftContent">
        <span class="detail__title">
          {% if current_category %}
            {{current_category.parent}} 
            <span> > {{current_category.name}}</span>
          {% else %}
            All Products
          {% endif %}
        </span>
        <img class="detail__img" src='{{product.img.url}}' alt="Product IMG"/>
      </div>
      <!-- 박스의 오른쪽 부분 -->
      {% if product %}
        <div class="detail__rightContent">
          <!-- 오른쪽 부분의 헤더 -->
          <div class="detail__header">
            <span class="detail__name"><img src="{% static 'logo/point.png' %}" class="point" />{{product.name}}</span>
            <!-- 편의점은 many to many field 이므로 생성시 for문 한번 더 해야함-->
            <span class="detail__brand">
              {% for brand in product.brand.all %}
                <img class="brand__img" src='{{brand.img.url}}' alt="Brand IMG"/>
              {% endfor %}
            </span>
          </div>
          <!-- 상품 가격 -->
          <div class="detail__price">
            <span>가격 {{product.price}}원</span>
          </div>
          <!-- 상품 설명 -->
          <div class="detail__description">
            <div class="description__content">
              <span>상품설명</span>
              <span>{{product.description}}</span>
            </div>

            <!-- 상품 해시태그 -->
            <div class="detail__tagBox">
              <div class="detail__tag">
                <span>
                  <span>연관태그</span>
                  <form method="get", action="{% url 'index' %}">
                    {% for tag in product.tags.all %}
                    #<input type='submit' name='q' value='{{tag.name}}'></input>&nbsp;
                    {% endfor %}
                  </form>
                </span>
              </div>
              <div class="detail__tag--heart">
                <i class="fas fa-heart"></i>
                <span id='like-count'>{{ product.like.count }}</span>
              </div>
            </div>
          </div>
          <!-- 버튼들 -->
          <div class="detail__button">
            <button class="detail__stock">
              <span>재고확인</span>
              <img src="{% static 'logo/location__white.png' %}" />
            </button>

            <button type="button" class="detail__naeggu {% if user in product.like.all %}detail__naeggu__active{% endif %}", id='btn-like' data-url='{{ product.get_api_like_url }}' data-like='{{product.like.count}}'>

              <span>내꺼하기</span>
              <img src="{% static 'logo/heart__white.png' %}" />
            </button>
          </div>
        </div>
      {% else %}
      No product
      {% endif %}
    </div>
    
    <!-- 댓글 -->
    <div class="detail__comment">
      <div class="comment__header">
        <div class="comment__header--title">
          <img src="{% static 'logo/point.png' %}" class="point" />
          상품후기({{ product.comments.count }}개)
          <!-- 회원만 댓글달 수 있는 창이 보입니다. -->
        </div>
      </div>
      <div class="comment__main">
        {% if request.user.is_authenticated %}
        <div class="comment__mycomment">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">댓글 작성하기</button>
    
          <!-- 댓글 작성하기 버튼입니다. -->
          <!-- 버튼을 누르면 댓글을 작성하는 modal이 나타납니다. -->
          <div class="modal fade" id="comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="POST" action="{% url 'comment_create' product.slug %}" id="comment-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <span class="comment__user"> {{ user.nickname }} 님의 후기 </span>
                    <span class="star-input">
                      <span class="input">
                        <input type="radio" name="star-input" id="p1" value="0.5" /><label for="p1">0.5</label> <input type="radio" name="star-input" id="p2" value="1" /><label for="p2">1</label>
                        <input type="radio" name="star-input" id="p3" value="1.5" /><label for="p3">1.5</label> <input type="radio" name="star-input" id="p4" value="2" /><label for="p4">2</label>
                        <input type="radio" name="star-input" id="p5" value="2.5" /><label for="p5">2.5</label> <input type="radio" name="star-input" id="p6" value="3" /><label for="p6">3</label>
                        <input type="radio" name="star-input" id="p7" value="3.5" /><label for="p7">3.5</label> <input type="radio" name="star-input" id="p8" value="4" /><label for="p8">4</label>
                        <input type="radio" name="star-input" id="p9" value="4.5" /><label for="p9">4.5</label> <input type="radio" name="star-input" id="p10" value="5" /><label for="p10">5</label>
                      </span>
                      <output for="star-input"><b>0</b>점</output>
                    </span>
    
                    <div class="preview">
                      <img src="" id="preview-img" width="100" height="100" />
                    </div>
                    <div>{{comment_form.content}} {{comment_form.img}}</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn-comment" class="btn btn-primary">댓글 쓰기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- 여기까지가 modal 입니다. -->
        </div>
        {% endif %}
        <!-- 달린 댓글들 표시 -->
      </div>
      {% include 'myside/_comment.html' %}
    </div>
    <div class="detail__related-container">
      <div class="comment__header">
        <div class="comment__header--title">
          <img src="{% static 'logo/point.png' %}" class="point" />
          연관상품
        </div>
      </div>
      <div class="products__slider">
        {% for product in product_related %}
        <a href="{{product.get_absolute_url}}">
          <img src="{{product.image_url}}" alt="Product IMG" class="index__slide--img" />
          <div class="index__slideBox">
            <div class="index__slide--header">
              <span class="index__slide--name">{{product.name}}</span>
              <div>
                <img class="index__slide--good" src="{% static 'logo/thumb_up_alt-24px.png' %}"></img>
                <span>{{ product.like.count }}</span>
              </div>
            </div>
            <div class="index__slide--description">
              <p>{{product.description}}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    
  </main>
  
{% endblock %}
  
{% block script %} 
<script src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/commentAlert.js' %}"></script>
<script src="{% static 'js/like-comment-toggle.js' %}"></script>
<script src="{% static 'js/like-toggle.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/moreComments.js' %}"></script>
<script src="{% static 'js/enlargeImage.js' %}"></script>
<script src="{% static 'js/commentWriteForm.js' %}"></script>
{% endblock %}
