{% extends 'base.html' %} 

{% load static %}

<!-- detail.html에서만 쓰이는 css -->
{% block style %} 
  <link rel="stylesheet" href="{% static 'css/include/category.css' %}" />
  <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index/index-slider.css' %}" />
{% endblock %}

{% block title %}상세페이지{% endblock %}

{% block category %}
  {% include 'myside/_category.html' %}
{% endblock %}

{% block detail %}
  <!-- 메인 컨텐츠 박스 -->
  <main class="detail">
    <!-- 상품 정보에 대한 박스 -->
    <div class="detailBox">
      <!-- 박스의 왼쪽 부분 -->
      <div class="detail__leftContent">
        <span class="detail__title">
          {% if current_category %}
            {{current_category.parent}} 
            <span> > {{current_category.name}}</span>
          {% else %}
            All Products
          {% endif %}
        </span>
        <!-- 검색 기능 우선 제외시키겠습니다.-->
        <img class="detail__img" src='{{product.img.url}}' alt="Product IMG"/>
      </div>
      <!-- 박스의 오른쪽 부분 -->
      {% if product %}
        <div class="detail__rightContent">
          <!-- 오른쪽 부분의 헤더 -->
          <div class="detail__header">
            <span class="detail__name"><img src="{% static 'logo/point.png' %}" class="point" />{{product.name}}</span>
            <!-- 편의점은 many to many field 이므로 생성시 for문 한번 더 해야함-->
            <span class="detail__brand">
              {% for brand in product.brand.all %}
                <img class="brand__img" src='{{brand.img.url}}' alt="Brand IMG"/>
              {% endfor %}
            </span>
          </div>
          <!-- 상품 가격 -->
          <div class="detail__price">
            <span>가격 {{product.price}}원</span>
          </div>
          <!-- 상품 설명 -->
          <div class="detail__description">
            <div class="description__content">
              <span>상품설명</span>
              <span>{{product.description}}</span>
            </div>

            <!-- 상품 해시태그 -->
            <div class="detail__tagBox">
              <div class="detail__tag">
                <span>
                  <span>연관태그</span>
                  <form method="get", action="{% url 'index' %}">
                    {% for tag in product.tags.all %}
                    #<input type='submit' name='q' value='{{tag.name}}'></input>
                    {% endfor %}
                  </form>
                </span>
              </div>
              <div class="detail__tag--heart">
                <i class="fas fa-heart"></i>
                <span id='like-count'>{{ product.like.count }}</span>
              </div>
            </div>
          </div>
          <!-- 버튼들 -->
          <div class="detail__button">
            <button class="detail__stock">
              <span>재고확인</span>
              <img src="{% static 'logo/location__white.png' %}" />
            </button>
            <button type="button" class="detail__naeggu", id='btn-like' data-url='{{ product.get_api_like_url }}' data-like='{{product.like.count}}'>
              <span>내꺼하기</span>
              <img src="{% static 'logo/heart__white.png' %}" />
            </button>
          </div>
        </div>
      {% else %}
      No product
      {% endif %}
    </div>
    
    <!-- 댓글 -->
    <div class="comment__main__comment">
      {% include 'myside/_comment.html' %}
    </div>
    <div class="detail__related-container">
      <div class="comment__header">
        <div class="comment__header--title">
          <img src="{% static 'logo/point.png' %}" class="point" />
          연관상품
        </div>
      </div>
      <div class="products__slider">
        {% for product in product_related %}
        <a href="{{product.get_absolute_url}}">
          <img src="{{product.image_url}}" alt="Product IMG" class="index__slide--img" />
          <div class="index__slideBox">
            <div class="index__slide--header">
              <span class="index__slide--name">{{product.name}}</span>
              <div>
                <img class="index__slide--good" src="{% static 'logo/thumb_up_alt-24px.png' %}"></img>
                <span>{{ product.like.count }}</span>
              </div>
            </div>
            <div class="index__slide--description">
              <p>{{product.description}}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    
  </main>
  
  {% endblock %}
  
  {% block script %} 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'js/commentAlert.js' %}"></script>
  <script src="{% static 'js/like-comment-toggle.js' %}"></script>
  <script src="{% static 'js/like-toggle.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
  <script src="{% static 'js/comment.js' %}"></script>
  {% endblock %}
  
  