{% extends 'base.html' %} {% block title %}메인페이지{% endblock %} {% block style %} .container { display: flex; } {% endblock %} {% block content %}
<h1>Myside Templates Test</h1>
<h3>여기는 index.html(메인페이지) 입니다.</h3>
<div class="container">
  <ul class="categories">
    <h1>카테고리</h1>
    {% for category in categories %} {% if category.parent == None %}
    <h2>{{category.name}}</h2>
    {% else %}
    <h4>{{category.name}}</h4>
    {% endif %} {% endfor %}
  </ul>
  <ul class="products">
    <h1>상품</h1>
    {% for product in products %}
    <li>
      <h2><a href="{{product.get_absolute_url}}">Name : {{product.name}}</a></h2>
    </li>
    {% endfor %}
  </ul>
  {% endblock %}
</div>
