{% extends 'base.html' %} 
{% load static %} 

<!-- index.html에서만 쓰는 css -->
{% block style %}
  <link rel="stylesheet" href="{% static 'css/include/category.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index/index-slider.css' %}" />
  <link rel="stylesheet" href="{% static 'css/include/naeggu.css' %}" />
{% endblock %}

{% block title %}메인페이지{% endblock %} 

{% block category %}
  {% include 'myside/_category.html' %}
{% endblock %}

{% block index %}
  <!-- 상품 목록 -->
  <div class="index">
    <div class="index__header">
      <span class="index__header--title"><img src="{% static 'logo/point.png' %}" class="point" />
        {{title_best_product}}
      </span>
      <!-- 검색 기능 -->
      {% include 'myside/_search.html' %}
    </div>

    <!-- Slick을 이용한 슬라이더 (베스트 상품) -->
    <div class="index__slider index__best">
      {% for product in best_products %}
      <a href="{{product.get_absolute_url}}">
        <img src="{{product.image_url}}" alt="Product IMG" class="index__slide--img" />
        <div class="index__slideBox">
          <div class="index__slide--header">
            <span class="index__slide--name">{{product.name}}</span>
          </div>
          <div class="index__slide--description">
            <p>{{product.price}}원</p>
            
              <img class="index__slide--good" src="{% static 'logo/thumb_up_alt-24px.png' %}" height="25px" width="25px"></img>
              <span>{{ product.like.count }}</span>
  
          </div>
        </div>

      </a>
      {% endfor %}
    </div>
    
    <!-- Slick을 이용한 슬라이더 (전체상품) -->
    <span class="index__header--title index__all"><img src="{% static 'logo/point.png' %}" class="point" />
      {{title_all_product}}
    </span>
    <div class="index__slider">
      {% for product in products %}
      <a href="{{product.get_absolute_url}}">
        <img src="{{product.image_url}}" alt="Product IMG" class="index__slide--img" />
        <div class="index__slideBox">
          <div class="index__slide--header">
            <span class="index__slide--name">{{product.name}}</span>

          </div>
          <div class="index__slide--description"><p>{{product.price}}원</p>
            <img class="index__slide--good" src="{% static 'logo/thumb_up_alt-24px.png' %}" height="22px" width="22px"></img>
            <span>{{ product.like.count }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- 광고 배너 -->
    <img class="index__banner" src="{% static 'logo/sub__bn.png' %}"></img>
  </div>
{% endblock %}

<!-- 내꺼 목록 -->
{% block naeggu %}
  {% include 'myside/_naeggu.html' %}
{% endblock %}

{% block script %}
  <!-- Slick.js cdn -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Slick.js 슬라이더 -->
  <!-- 우선은 한번에 4개씩 넘어가게 했습니다. -->
  <script type="text/javascript">
    $(".index__slider").slick({
      slidesToShow: 4,
      slidesToScroll: 4,
    });
  </script>

  <!-- 내꺼 슬라이더 js -->
  <!-- <script src="{% static 'js/naegguSlider.js' %}"></script> -->
{% endblock %}