{% extends 'base.html' %} {% block title %}카테고리{% endblock %}
{% block category %}
    {% include 'myside/_category.html' %}
{% endblock %}
{% block products-content %}
    <div class="products__header">
        <span class="products__header--title">
            {{ title }}
        </span>
        <!-- 검색 기능 -->
        {% include 'myside/_search.html' %}
    </div>
    <br>
    <table>
        {% if products %}
            <tr><th>NAME</th><th>PRICE</th><th>DESCRIPTION</th></tr>
            {% for product in products %}
                <tr>
                    <td><a href="{{product.get_absolute_url}}">{{product.name}}</a></td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                </tr>
            {% endfor %}    
        {% else %}
            No result
        {% endif %}
    </table>
{% endblock %}