{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.name 'content' %}
        <textarea class="form-control" name="{{ field.name }}"></textarea>
        {% else %}
        <input class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" />
        {% endifequal %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">글쓰기</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/community/list/'">돌아가기</button>
    </form>
  </div>
</div>
{% endblock %}