{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <div class="form-group">
      <div>
        제목 : {{ post.title }}
        {% if user.is_authenticated %} {% if user == post.author %}
        <a href="{% url 'post_delete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
        <a href="#">수정</a>
        {% endif %}
        {% endif %}
      </div>
      <div>{{ post.content | safe }}</div>
      <div>조회수 : {{ post.hits }}</div>
      <div id="recommend-{{ post.id }}">추천 : {{ post.total_recommends }}</div>
      <div id="derecommend-{{ post.id }}">반대 : {{ post.total_derecommends }}</div>
      <div>작성일 : {{ post.created_at }}</div>
      <input type="button" class="btn btn-info btn-sm recommend" name="{{ post.id }}" value="추천">
      <input type="button" class="btn btn-info btn-sm derecommend" name="{{ post.id }}" value="반대">
      </button>
      <button class="btn btn-primary" onclick="location.href='/community/list/'">돌아가기</button>
    </div>

  </div>
  <form action="{% url 'post_comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="write your comment">
    <input type="submit" value="Write" />
  </form>
  {% for comment in post.comments.all %}
  <div class="comment">
    <div class="comment__content">
      <span>{{ comment.author.nickname }} : </span>
      <span>{{ comment.content }}</span>
      <div class="date">{{ comment.created_at }}</div>
    </div>
    {% if user.is_authenticated %}
    <div class="comment__recommend">
      <span id="comment_recommend-{{ comment.id }}">{{ comment.recommends.count }}</span>
      <input type="button" class="btn btn-info btn-sm post_comment_recommend" name="{{ comment.id }}" value="추천"
        data-url="{% url 'post_comment_recommend' post.id comment.id %}">
      <span id="comment_derecommend-{{ comment.id }}">{{ comment.derecommends.count }}</span>
      <input type="button" class="btn btn-info btn-sm post_comment_derecommend" name="{{ comment.id }}" value="반대"
        data-url="{% url 'post_comment_derecommend' post.id comment.id %}">
    </div>
    {% if user == comment.author %}
    <div class="comment__UD">
      <input type="button" class="btn btn-info btn-sm post_comment_delete" value="삭제"
        data-url="{% url 'post_comment_delete' post.id comment.id %}">
      <input type="button" class="btn btn-info btn-sm post_comment_update" value="수정">
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript">
    $(".recommend").click(function () {
      var pk = $(this).attr('name')
      $.ajax({
        type: "POST",
        url: "{% url 'post_recommend' post.id %}",
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#recommend-" + pk).html("추천 : " + response.post_recommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>


  <script type="text/javascript">
    $(".derecommend").click(function () {
      var pk = $(this).attr('name')
      $.ajax({
        type: "POST",
        url: "{% url 'post_derecommend' post.id %}",
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#derecommend-" + pk).html("반대 : " + response.post_derecommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>

  <script type="text/javascript">
    $(".post_comment_delete").click(function () {

      var message = confirm('댓글을 삭제하시겠어요?');
      var url = $(this).attr('data-url');
      var csrf = $('input[name=csrfmiddlewaretoken]').val();
      if (message == true) {
        current_comment = $(this).parents('.comment');
        $.ajax({
          type: "POST",
          url: url,
          data: { 'csrfmiddlewaretoken': csrf },
          dataType: "json",
          success: function (response) {
            current_comment.replaceWith('<div class="comment"> 삭제된 댓글이에요  </div><br>');
          },
          error: function (request, status, error) {
            alert("댓글 삭제 실패 ㅠ")
          },
        });
      }
    })
  </script>

  <script type="text/javascript">
    $(".post_comment_recommend").click(function () {
      var url = $(this).attr('data-url');
      var pk = $(this).attr('name')
      var csrf = $('input[name=csrfmiddlewaretoken]').val();
      $.ajax({
        type: "POST",
        url: url,
        data: { 'csrfmiddlewaretoken': csrf },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#comment_recommend-" + pk).html(response.comment_recommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>

  <script type="text/javascript">
    $(".post_comment_derecommend").click(function () {
      var url = $(this).attr('data-url');
      var pk = $(this).attr('name')
      var csrf = $('input[name=csrfmiddlewaretoken]').val();
      $.ajax({
        type: "POST",
        url: url,
        data: { 'csrfmiddlewaretoken': csrf },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#comment_derecommend-" + pk).html(response.comment_derecommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>
  {% endblock %}