{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <div class="form-group">

      <div>제목 : {{ post.title }}</div>
      <div>{{ post.content | safe }}</div>
      <div>조회수 : {{ post.hits }}</div>
      <div id="recommend-{{ post.id }}">추천 : {{ post.total_recommends }}</div>
      <div id="derecommend-{{ post.id }}">반대 : {{ post.total_derecommends }}</div>
      <div>작성일 : {{ post.created_at }}</div>
      <input type="button" class="btn btn-info btn-sm recommend" name="{{ post.id }}" value="추천">
      <input type="button" class="btn btn-info btn-sm derecommend" name="{{ post.id }}" value="반대">
      </button>
      <button class="btn btn-primary" onclick="location.href='/community/list/'">돌아가기</button>
    </div>

  </div>
  <form action="{% url 'comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="write your comment">
    <input type="submit" value="Write" />
  </form>
  {% for comment in post.comment.all %}
  <div class="comment">
    <span>{{ comment.author.nickname }} : </span>
    <span>{{ comment.content }}</span>
    <div class="date">{{ comment.created_at }}</div>
  </div>
  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript">
    $(".recommend").click(function () {
      var pk = $(this).attr('name')
      $.ajax({
        type: "POST",
        url: "{% url 'post_recommend' post.id %}",
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#recommend-" + pk).html("추천 : " + response.recommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>


  <script type="text/javascript">
    $(".derecommend").click(function () {
      var pk = $(this).attr('name')
      $.ajax({
        type: "POST",
        url: "{% url 'post_derecommend' post.id %}",
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
          alert(response.message);
          $("#derecommend-" + pk).html("반대 : " + response.derecommends_count);
        },
        error: function (request, status, error) {
          alert("로그인이 필요합니다.")
          window.location.replace("/")
        },
      });
    })
  </script>
  {% endblock %}