/* products css */

.products__header {
  display: flex;
  justify-content: space-between;
}

.products__header button {
  background-color: white;
  cursor: pointer;
}

.products__header--title,
.products__header--search {
  margin: 50px 60px 50px 20px;
}

.products__header--title {
  font-family: "Jua", sans-serif;
  line-height: 1.46;
  letter-spacing: 2.8px;
  font-size: 28px;
  position: relative;
}

.products__header--search {
  width: 320px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #cccccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products__header--search input {
  border: none;
  font-size: 16px;
}

.products__header--search::placeholder {
  color: #999999;
}

.products__header--search i {
  font-size: 24px;
  color: #fe4737;
}

.products__main {
  width: 1320px;
  padding: 0px 60px;
}

.products__slider {
  position: relative;
}

/* slick button css */
.products__slider button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.products__slider button.slick-prev {
  left: 0;
}

.products__slider button.slick-next {
  right: 0;
}

.products__slider a {
  border: 1px solid black;
  height: 340px;
  margin: 0px 25px;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.slide__img {
  width: 250px;
  height: 250px;
}

.products__banner {
  width: 1200px;
  height: 200px;
  border-radius: 25px;
  background-color: #ffc10e;
  margin-top: 50px;
  margin-bottom: 108px;
}
