{% extends 'base.html' %}
{% load static %}

{% block title %}내 정보{% endblock %}


{% block edit-profile %}
<br>
<div class="">
    <div class="">
        <form method="POST" action="{% url 'edit_user_profile' %}" id="user-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.nickname }}
            {{ form.email }}
            {{ form.profile }}
            {{ form.introduction }}
            {{ form.gender }}
            {{ form.birth }}
            <button type="submit" id="btn-profile" class="btn btn-primary">프로필 수정</button>
        </form>
</div>

{% endblock %}