{% extends 'base.html' %}
{% load static %}

{% block title %}내 정보{% endblock %}

{% block category %}
	{% include 'myside/_category.html' %}
{% endblock %}


{% block user-profile %}
<br>
<div class="">
    <div class="">
        <br><br><br>


        <li>{{user.nickname}} 님의 프로필</li>
        <hr>
        <button type="submit">
            {% if user.profile %}
            <img class="round" src="{{user.profile.url}}" width="200"> <br>
            {% else %}
            <img class="round" src="{% static 'logo/logo-02.jpg' %}" width="200"> <br>
            {% endif %}
        </button>
    </div>

    <div class="">
        <li>{{user.name}} </li>
        <li>{{user.email}} </li>

        {% if user.birth %}
        <li>{{user.birth}} </li>
        {% else %}
        <li>등록된 생일이 없어요</li>
        {% endif %}


    </div>
    <hr>

</div>

{% endblock %}