{% extends 'base.html' %}
{% load static %}

{% block title %}내 정보{% endblock %}

{% block category %}
	{% include 'myside/_category.html' %}
{% endblock %}


{% block user-profile %}
<br>
<div class="">
    <div class="">


        <li>{{user.nickname}} 님의 프로필</li>
        <hr>
        <button type="submit">
            {% if user.profile %}
            <img class="round" src="{{user.profile.url}}" width="200"> <br>
            {% else %}
            <img class="round" src="{% static 'logo/logo-02.jpg' %}" width="200"> <br>
            {% endif %}
        </button>
    </div>

    <div class="">
        <div>
            <ul>
                <li>{{user.name}} </li>
                <li>{{user.email}} </li>
                <li>{{user.introduction}} </li>
                {% if user.birth %}
                <li>{{user.birth}} </li>
                {% else %}
                <li>등록된 생일이 없어요</li>
                {% endif %}
            </ul>
        </div>
        <div>
            <a href="{% url 'edit_user_profile' %}">프로필 편집</a>
            <a href="{% url 'delete_user_profile' %}">회원탈퇴</a>
        </div>
    </div>
    <hr>
    <div>
        <div>내찜 목록
        {% for user_like in user.product_likes.all %}
            <a href="{{user_like.get_absolute_url }}">
                <li>
                    <p>{{ user_like.name }}</p>
                    <img src="{{ user_like.img.url }}" alt="">
                </li>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}