{% load static %}

<!-- Sign Up modal-->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="signup-modal__header">
        <div class="login-modal__button-box">
          <button type="button" class="close signup-close" data-dismiss="modal" aria-label="Close">
            <img src="{% static 'logo/cancel.png' %}" class="login-modal__close" />
          </button>
        </div>
        <span class="signup-modal__title">회원가입</span>
      </div>
      <div class="signup-modal__body">
        <form id="user-signup" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="signup-form__group">
            <div class="signup-form__title">
              <span>이메일</span>
            </div>
            <div class="signup-form__write">
              <input autocomplete="off" type="text" placeholder="EMAIL" class="signup-form__control" id="signup-user-email" name="email" />
              <div class="signup-form__alert">
                <span></span>
              </div>
            </div>
          </div>
          <div class="signup-form__group">
            <div class="signup-form__title">
              <span>닉네임</span>
            </div>
            <div class="signup-form__write">
              <input autocomplete="off" type="text" placeholder="NICKNAME" class="signup-form__control" id="signup-user-nickname" name="nickname" />
              <div class="signup-form__alert">
                <span>사용하실 수 있는 닉네임 입니다.</span>
              </div>
            </div>
          </div>
          <div class="signup-form__group">
            <div class="signup-form__title">
              <span>비밀번호</span>
            </div>
            <div class="signup-form__write">
              <input autocomplete="off" type="password" placeholder="8자리 이상 (영어 대문자, 소문자, 숫자, 특수문자 중 3종류 조합)" class="signup-form__control" id="signup-user-password" name="password" />
              <div class="signup-form__alert">
                <span></span>
              </div>
            </div>
          </div>
          <div class="signup-form__group">
            <div class="signup-form__title">
              <span>비밀번호확인</span>
            </div>
            <div class="signup-form__write">
              <input autocomplete="off" type="password" placeholder="비밀번호 재입력" class="signup-form__control" id="signup-user-password2" name="password2" />
              <div class="signup-form__alert">
                <span></span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="signup-modal__footer">
        <button type="button" class="btn-close signup-modal__button" data-dismiss="modal">Pre</button>
        <a type="button" href="{% url 'user_signup' %}" id="btn-signup" class="signup-modal__button btn-signup">Complete</a>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{% static 'js/signup.js' %}"></script>
