/* 내꺼하기 */
.naeggu {
  width: 300px;
  display: flex;
  justify-content: center;
}

.naeggu__container {
  width: 130px;
  height: 500px;
  background-color: rgb(224, 255, 167);
  margin-top: 55px;
}

.naeggu__listImg {
  width: 120px;
  height: 120px;
}
