.profile__myinfo{

}

.profile__myinfoHeader span{
    font-family: "Jua", sans-serif;
    position: relative;
    font-size: 28px;

    left: 420px;
    border : 1px #ff0808;

}

.profile__myinfoContents {
    position: relative;
    left: 420px;
    top: 30px;
    
}

.myinfoContents__myImg{
    float:left;
    width: 250px;
    height: 250px;
    background-color: #dfdfdf;
}

.myinfoContents__content{
    width: 1080px;
    height: 50px;
    border-top: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
    position: relative;
    align-content: center;
    position: relative;
}

.myinfoContents__contentt{
    border-left: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #dfdfdf;
    width: 1080px;
    height: 50px;
}

.content__key{
    font-family: 'Noto Sans KR', sans-serif;
    width: 120px;
    height: 40px;
    font-weight: 700;
    color:  #9e9e9e;
    left: 40px;
    position: relative;
    top: 12px;
}

.content__value{
    top: 12px;
    left: 78px;
    position : relative ;
    }

.content__value1{
    top: 12px;
    left: 110px;
    position : relative ;
    }

.content__value2{
    top: 12px;
    left: 92px;
    position : relative ;
    }

.content__value3{
    top: 12px;
    left: 94px;
    position : relative ;
    }




.myinfoContents__myprofileImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    position: relative;
    z-index: 1;
    left: 75px;
    top: 75px;
}
    


.myinfoContents__content span{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.6px;
}

.profile__myinfoEdit a{
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.6px;

    border-radius: 5px;
    background-color: #00b3b0;
}
.profile__myactivityHeader{
    font-family: "Jua", sans-serif;
    position: relative;
    font-size: 28px;
    line-height: 1.46;
    letter-spacing: 2.8px; 
}
.profile__myactivityHeader .header__channel{
    width: 1082px;
    height: 70px;
    background-color: #dfdfdf;
}

.profile__myactivityContents{
    display: table;
}
.myactivityContents__header{
    display: table-header-group;
}
.myactivityContents__contents{
    display: table-row-group
}

.myactivityContents__header .header__channel {
    display: table-row;
    width: 1082px;
    height: 70px;
    background-color: #dfdfdf;
}
.myactivityContents__header .header__channel a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color:red;
    letter-spacing: 1.6px;
}



.myactivityContents__header .header__title {
    display: table-row;
    width: 1082px;
    height: 70px;
}
.myactivityContents__header .header__title span{
    display: table-cell;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color:blue;
    letter-spacing: 1.6px;
}


.myactivityContents__header .header__title .title__createdAt {
    width: 158px;
    height: 50px;
    border: solid 1px #dfdfdf;
}

.myactivityContents__header .header__title .title__title{
    width: 819px;
    height: 50px;
    border: solid 1px #dfdfdf;
}

.myactivityContents__header .header__title .title__likes{
    width: 107px;
    height: 50px;
    border: solid 1px #dfdfdf;
}

.myactivityContents__contents{
    display: table-row-group
}
.myactivityContents__contents .contents__content{
    display: table-row;
}





.profile__mycvsHeader{
    font-family: "Jua", sans-serif;
    position: relative;
    font-size: 28px;
    line-height: 1.46;
    letter-spacing: 2.8px;
}

.profile__naegguHeader{
    font-family: "Jua", sans-serif;
    position: relative;
    font-size: 28px;
    line-height: 1.46;
    letter-spacing: 2.8px;
}