{% extends "base.html" %}
{% load account socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

<div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

</div>

{% else %}
{% endif %}

<div class="login">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in login_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        {% if login_form.non_field_errors %}
        {% for error in login_form.non_field_errors %}
        <p class="text-danger"><b>{{ error }}</b></p>
        {% endfor %}
        {% endif %}
        <button class="primaryAction" type="submit">로그인</button>
    </form>
    <button class="primaryAction" href="{% url 'signup' %}">회원가입</button>

</div>

<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}


</form> -->

{% endblock %}