{% load static %}

<header id="header">
  <!-- logo -->
  <div class="header__logoBox">
    <img src="{% static 'logo/logo-02.jpg' %}" class="header__logo" , onclick="location.href='/'" />
  </div>
  <!-- 상단 메뉴 -->
  <ul class="header__menuBox">
    <li class="header__menu"><a href="{% url 'mymap' %}"><img src="/static/logo/logo-menu/내편찾기.png" height="40px" width="100px"></a></li>
    <li class="header__menu"><a href="#"><img src="/static/logo/logo-menu/할인행사.png" height="40px" width="100px"></a></li>
    <li class="header__menu"><a href="{% url 'post_list' %}"><img src="/static/logo/logo-menu/커뮤니티.png" height="40px" width="100px"></a></li>
    <li class="header__menu"><a href="#"><img src="/static/logo/logo-menu/Brand Story.png" height="40px" width="165px"></a></li>
  </ul>
  <!-- 로그인 로그아웃 -->
  <nav class="header__auth">
    
    <!-- 유저가 로그인 중이면 -->
    {% if user.is_authenticated %}
    <div class="header__user">
      <div class="user__profileimg">
      {% if comment.author.profile %}
        <img class="header__profile" src="{{comment.author.profile.url}}" />
      {% else %}
        <img class="header__profile" src="/static/logo/default_profile.png" />
      {% endif %}    
        <div class="header__username">{{user.nickname}} 님<button onclick="show_hide()" class="user__drop"><img src="/static/logo/dropdown.png" height="12px" width="12px"></button> 
          <div class="dropdown__contents">
            <a href="{% url 'user_profile' %}" class="user-profile">계정관리</a>
            <a href="{% url 'user_logout' %}" class="user-logout">Logout</a>
          </div>
        </div>
      </div>
    </div>


    <script>
      function show_hide(){
        var click = document.querySelector(".dropdown__contents") ;
        if(click.style.display === "none") {
            click.style.display = "block" ;
        }else{
          click.style.display = "none" ;
        }
      }
    </script>

    {% else %}
    <div class="header__authmod">
      <div class="user__profileimg">
        <img class="header__profile" src="/static/logo/default_profile.png">
      
        <div class="header__username">내편이 아닙니다<button onclick="show_hide()" class="nonuser__drop"><img src="/static/logo/dropdown.png" height="12px" width="12px"></button> 
          <div class="non_dropdown__contents">
            <a href="{% url 'user_profile' %}" class="user-profile">Log in</a>
            <a href="{% url 'user_logout' %}" class="user-logout">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    
    <button data-toggle="modal" data-target="#modal-login" id="base__login-btn" class="header__authBtn">
      <img src="{% static 'logo/person-24px.png' %}" />
      <span>Log in</span>
    </button>
    <button data-toggle="modal" data-target="#modal-signup" class="header__authBtn">
      <img src="{% static 'logo/person-24px.png' %}" />
      <span>Sign up</span>
    </button>

    <script>
      function show_hide(){
        var click = document.querySelector(".non_dropdown__contents") ;
        if(click.style.display === "none") {
            click.style.display = "block" ;
        }else{
          click.style.display = "none" ;
        }
      }
    </script>
    
    {% endif %}
  </nav>
</header>
