{% load static %}
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>


  </head>
  <body>

    <header>
      <div>
        <!-- logo -->
        <div class="header__logo">로고</div>
      </div>
      <nav>
        <!-- 상단 메뉴 -->
        <ul class="header__menus">
          <li class="header__menu"><a href="#">내편찾기</a></li>
          <li class="header__menu"><a href="#">할인행사</a></li>
          <li class="header__menu"><a href="#">커뮤니티</a></li>
          <li class="header__menu"><a href="#">Brand Story</a></li>
        </ul>
      </nav>
      <div>
        <!-- Log in -->
        <div class="header__login">로그인</div>
      </div>
    </header>
    <!-- Slide banner -->
    <div class="banner">슬라이드 배너</div>
    <!-- Main container ( category, main_contents ) -->
    <div class="container">
      <!-- category -->
      <div class="category">
        <div class="category__container">
          {% for category in categories %} 
            {% if category.parent == None %}
              <div class="category__parent" value="{{category.name}}" drop="f">{{category.name}}</div>
            {% else %}
              <div class="category__children" value="{{category.parent}}"> <a href="{{category.get_absolute_url}}">{{category.name}}</a></div>
            {% endif %} 
          {% endfor %}
        </div>
      </div>
    {% block content%}{% endblock %}
    </div>
    <footer>
    </footer>

    <script src="{% static 'js/test.js' %}"></script>
  
  </body>
  
</html>
