{% load static %} 
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?ver=2" />


  {% block style %} {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <button class="api-server" , onclick="location.href='/api'" style='margin:10px'>API 서버로 이동</button>
  <header>
    <div>
      <!-- logo -->
      <img src="{% static 'logo/logo-02.jpg' %}" class="header__logo" , onclick="location.href='/'" />
    </div>
    <nav>
      <!-- 상단 메뉴 -->
      <ul class="header__menus">
        <li class="header__menu"><a href="/mymap">내편찾기</a></li>
        <li class="header__menu"><a href="#">할인행사</a></li>
        <li class="header__menu"><a href="#">커뮤니티</a></li>
        <li class="header__menu"><a href="#">Brand Story</a></li>
      </ul>
    </nav>
    <!-- 로그인 로그아웃 -->
    <nav>
      {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
      {% else %}
        <button data-toggle='modal' data-target="#modal-login">로그인</button>
        <button data-toggle='modal' data-target="#modal-signup">회원가입</button>
      {% endif %}
    </nav>
  </header>

  <!-- Slide banner -->
  <div class="banner-box">
    <img src="{% static 'logo/logo-03.jpg' %}" class="banner"></img>
  </div>
  <!-- Main container ( category, main_contents ) -->
  <div class="main__container">
    <!-- category -->
    {% block category %}{% endblock %}
    
    <!-- products -->
    {% block index-products %}{% endblock %}

    <!-- detail -->
    {% block detail-products %}{% endblock %}

    <!-- list -->
    {% block products-content %}{% endblock %}

    <!-- map -->
    {% block mymap %}{% endblock %}

    <!-- Signup & Login -->
    {% block auth-window %}{% endblock %}

    {% include 'accounts/login.html' %}
    {% include 'accounts/signup.html' %}
    <!-- 찜 기능 -->
    <div class="jjim">
      <div class="jjim__box"></div>
    </div>
  </div>
  <footer></footer>

  <!-- Ajax 를 위한 jQuery버전 변경-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% block script %} {% endblock %}
  
</body>
</html>