/* login modal css */

.modal-content {
  width: 500px;
  height: 600px;
  border-radius: 25px;
}

.login-modal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-modal__button-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.login-modal__header .close {
  padding: 20px;
}

.login-modal__close {
  width: 18px;
  height: 18px;
}

.login-modal__logo {
  margin-top: 22px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
}

.modal-body {
  padding: 0px 50px;
}

.login-modal__input-box {
  margin-bottom: 24px;
}

.login-modal__input {
  width: 400px;
  height: 50px;
  border-radius: 60px;
  border: 1px solid #cccccc;
  padding: 14px 30px;
}

.login-modal__input::placeholder {
  color: #cccccc;
}

.login-modal__login {
  width: 400px;
  height: 50px;
  border-radius: 60px;
  background-color: #fe4737;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  color: #ffffff;
}

.login-modal__login:hover,
.login-modal__login:active {
  background-color: #ffffff;
  color: #fe4737;
  border: 2px solid #fe4737;
}

.login-modal__find {
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 1.6px;
}

.find__id,
.find__password {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find__id {
  border-right: 1px solid black;
}

/* sign-up modal css */
.signup-modal__header {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 30px;
  border-bottom: 1px solid #fe4737;
  margin-bottom: 50px;
}

.signup-close {
  margin-right: -10px;
  margin-top: 15px;
}

.signup-modal__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #fe4737;
  padding: 0px 0px 10px 20px;
}

.signup-modal__body {
  padding: 0px 30px;
}

.signup-form__group {
  width: 440px;
  height: 60px;
  display: flex;
  margin-bottom: 30px;
}

.signup-form__title {
  width: 143px;
  height: 100%;
}

.signup-form__title span {
  line-height: 1.5;
  letter-spacing: 1.6px;
  color: #333333;
  padding-left: 10px;
  padding-top: 10px;
}

.signup-form__write {
  width: 297px;
  padding-right: 10px;
  padding-bottom: 6px;
}

.signup-form__control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.signup-form__alert {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.signup-form__alert span {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #33bb5c;
}

.signup-modal__footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-modal__footer button {
  margin-right: 30px;
  background-color: #333333;
}

.signup-modal__footer a {
  background-color: #fe4737;
}

.signup-modal__footer a:hover, 
.signup-modal__footer a:focus {
  background-color: #fe4737;
}

.signup-modal__footer a:focus {
  outline: none;
}

.signup-modal__footer a:hover {
  color: #ffffff;
}

.signup-modal__button {
  width: 180px;
  height: 50px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  color: #ffffff;
}